<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>To Do List</h1>

    <form action="/cars" method="post">

      <label for="year">Year.</label>
      <input id="year" name="year" type="text">

      <label for="makeModel">Car Make and Model.</label>
      <input id="makeModel" name="makeModel" type="text">

      <label for="miles">Miles.</label>
      <input id="miles" name="miles" type="text">

      <label for="price">Price.</label>
      <input id="price" name="price" type="text">

      <button type="submit">Submit</button>
    </form>

  </body>
</html>
